@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-dark_grey: #353535;

$font-shrikhand: 'Shrikhand', cursive;

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: $color-white;
}

h2 {
    margin: 0;
}

.header {
    height: 63px;
    background-color: $color-white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    @include flexbox-center;
    position: relative;

    &__logo {
        font-family: $font-shrikhand;
        font-size: 30px;
        text-decoration: none;
        color: #101010;
    }

    &__arrow {
        position: absolute;
        color: $color-dark_grey;
        font-size: 18px;
        left: 25px;
    }
}

section {
    padding: 50px 20px;
}

.container {
    margin: auto;
    max-width: 1440px;

    &--footer {
        @include flexbox-center;
        flex-direction: column;
    }
}

.btn {
    background-color: darken($color-white, 40);
    background-image: linear-gradient(0deg,rgba($color-primary, .9),rgba($color-secondary, .9));
    @include box-shadow;
    color: $color-white;
    text-decoration: none;
    padding: 15.5px 22px;
    border-radius: 50px;
    transition: .3s;

    &:hover {
        background-color: $color-white;
        @include box-shadow-hover;
    }

    &--menu {
        padding: 15.5px 48.5px;
    }
}

.heart-btn {
    position: relative;
    @include flexbox-center;

    &--outline {
        position: absolute;
    }

    &--solid {
        position: absolute;
        background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
        transition: transform 300ms;
    }
    
    &:hover {
        cursor: pointer;
        .heart-btn--solid {
            transform: scale(1);
        }
        .heart-btn--outline {
            background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
        }
    }
}

.footer {
    background-color: $color-dark_grey;
    padding: 30px 20px;

    & a {
        text-decoration: none;
        color: $color-white;
    }

    &__logo {
        font-family: $font-shrikhand;
        font-size: 20px;
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 25px;

        & a:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        color: $color-white;
        margin-right: 8px;
    }
}