.location {
    background-color: #EAEAEA;
    color: #353535;
    padding: 0;
    height: 50px;
    @include flexbox-center;

    &__text {
        font-size: 16px;
        font-weight: 500;
    }

    &__icon {
        margin-right: 15px;
    }
}

.hero {
    text-align: center;
    padding: 40px 20px 70px 20px;

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        padding: 12px 0 30px 0;
        margin-top: 0;
    }

    &__button {
        background-image: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
        color: $color-white;
        text-decoration: none;
        padding: 15.5px 22px;
        border-radius: 50px;
        transition: 0.5s;

        &:hover {
            background: linear-gradient(180deg, #FF94E1 0%, #A16BE0 100%);
        }
    }
}

.process {
    background-color: #fff;

    &__steps {
        list-style: none;
        padding: 25px 0 0 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }
}

.step {
    background-color: #F6F6F6;
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    font-weight: 500;
    padding: 28px 35px;
    width: 100%;
    display: flex;
    margin: 0px 14px;

    &__number {
        background-color: $color-primary;
        color: #fff;
        font-size: 14px;
        position: absolute;
        padding: 4px 9px 4px 9px;
        border-radius: 50px;
        transform: translateX(-185%);
    }

    &__icon {
        color: #7E7E7E;
        font-size: 20px;
        margin-right: 25px;
    }
}