@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #F6F6F6;
}

h2 {
  margin: 0;
}

.header {
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  text-decoration: none;
  color: #101010;
}
.header__arrow {
  position: absolute;
  color: #353535;
  font-size: 18px;
  left: 25px;
}

section {
  padding: 50px 20px;
}

.container {
  margin: auto;
  max-width: 1440px;
}
.container--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  background-color: #353535;
  padding: 30px 20px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer__list a:hover {
  text-decoration: underline;
}
.footer__icon {
  color: #fff;
  margin-right: 8px;
}

.location {
  background-color: #EAEAEA;
  color: #353535;
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__text {
  font-size: 16px;
  font-weight: 500;
}
.location__icon {
  margin-right: 15px;
}

.hero {
  text-align: center;
  padding: 40px 20px 70px 20px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
  padding: 12px 0 30px 0;
  margin-top: 0;
}
.hero__button {
  background-image: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #fff;
  text-decoration: none;
  padding: 15.5px 22px;
  border-radius: 50px;
  transition: 0.5s;
}
.hero__button:hover {
  background: linear-gradient(180deg, #FF94E1 0%, #A16BE0 100%);
}

.process {
  background-color: #fff;
}
.process__steps {
  list-style: none;
  padding: 25px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}
.process__step {
  background-color: #F6F6F6;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  font-weight: 500;
  padding: 28px 35px;
  width: 100%;
  display: flex;
  margin: 0px 14px;
}
.process__number {
  background-color: #9356DC;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 4px 9px 4px 9px;
  border-radius: 50px;
  transform: translateX(-185%);
}
.process__icon {
  color: #7E7E7E;
  font-size: 20px;
  margin-right: 25px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  padding: 25px 0 0 0;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: #000;
  position: relative;
}
.card__badge {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 3px;
  padding: 6px 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.card__image {
  display: flex;
}
.card__image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__title {
  font-size: 18px;
  margin: 0 0 5px 0;
}
.card__subtitle {
  font-size: 16px;
  font-weight: 300;
}
.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px 15px;
}
.card__icon {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
