.btn-heart {
    position: relative;
    @include flexbox-center;

    &--outline {
        position: absolute;
    }

    &--solid {
        position: absolute;
        background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
        background-clip: text;
        color: transparent;
        transform: scale(0);
        transition: transform 300ms;
    }
    
    &:hover {
        cursor: pointer;
        .btn-heart--solid {
            transform: scale(1);
        }
        .btn-heart--outline {
            background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
            background-clip: text;
            color: transparent;
        }
    }
}