.btn {
    background-color: darken($color-white, 40);
    background-image: linear-gradient(0deg,rgba($color-primary, .9),rgba($color-secondary, .9));
    @include box-shadow;
    color: $color-white;
    text-decoration: none;
    padding: 15.5px 22px;
    border-radius: 50px;
    transition: .3s;

    &:hover {
        background-color: $color-white;
        @include box-shadow-hover;
    }

    &--menu {
        padding: 15.5px 48.5px;
    }
}