section {
    padding: 50px 20px;
}

.container {
    margin: auto;
    max-width: 1440px;

    &--footer {
        @include flexbox-center;
        flex-direction: column;
        @include mobile-only {
            align-items: flex-start;
        }
    }
}