.footer {
    background-color: $color-dark_grey;
    padding: 30px 20px;

    & a {
        text-decoration: none;
        color: $color-white;
    }

    &__logo {
        font-family: $font-shrikhand;
        font-size: 20px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 25px;
        @include mobile-only {
            flex-direction: column;
            gap: 10px;
        }

        & a:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        color: $color-white;
        margin-right: 8px;
    }
}